.navbar-inverse {
 margin-top: 15px;
}
.column_left {
  width: 75%;
  display: inline;
  float: left;
}

.column_right {
  display: inline;
  float: right;
}

#map {
  position: relative;
  width: 100%;
}

.riding-info {
  width: 100%;
  position: relative;
  display: inline;
}
