{% extends "layout.html" %}
{% block title %} map {% endblock %}
{% block head %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACtYXfgytJqOg762NyUUxmjJbw7Fppl1I"></script>
  <script src="{{url_for('static', filename='gmaps.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='map.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='web.css')}}">
{% endblock %}
{% block body %}
<div class="container">
  <nav class="navbar navbar-default">
    <button type="button" class="btn btn-primary logout">로그아웃</button>
    <div class="user-name logout"> {{ name }} 님</div>
  </nav>
  <div class="column_left">
    <div id="map"></div>
  </div>
  <div class="column_right">
    <table class="table riding-info">
      <caption>나의 라이딩 정보</caption>
      <tbody>
        <tr>
          <th>평균속도</th>
          <td class="avg_speed"></td>
        </tr>
        <tr>
          <th>거리</th>
          <td class="distance"></td>
        </tr>
        <tr>
          <th>날짜</th>
          <td class="date"></td>
        </tr>
      </tbody>
    </table>

    <table class="table ranking-info">
      <caption>나의 순위 정보</caption>
      <thead>
        <tr>
          <th>순위</th>
          <th>이름</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
  <script>
    $(document).ready(function() {
      var last_riding_id;
      var map = new GMaps({
          el: '#map',
          lat: 37.566609,
          lng: 126.978435,
          zoom: 12,
      });

      $.ajax({
        type:'GET',
        url:"/last_riding_info",
      }).done(
        function(data) {
          var path = data.tracking;
          last_riding_id = data.last_riding_id;

          if(path.length > 0) {
            var divide = (0 + (path.length-1)) / 2;

            $('.riding-info .avg_speed').html(data.avg_speed);
            $('.riding-info .distance').html(data.distance);
            $('.riding-info .date').html(data.last_riding_date);

            map.setCenter(path[divide][0], path[divide][1]);
 
            map.drawPolyline({
              path: path,
              strokeColor: 'blue',
              strokeOpacity: 0.6,
              strokeWeight: 6
            });

            map.addMarker({
              lat: path[path.length-1][0],
              lng: path[path.length-1][1],
              title: 'destination'
            });

            map.drawOverlay({
              lat: path[divide][0],
              lng: path[divide][1],
              content: '<div class="overlay">Lima<div class="overlay_arrow above"></div></div>',
              verticalAlgin: 'top',
              horizontalAlign: 'center',
            });

            (function poll(){
              setInterval(function() {
                $.ajax({
                  url: "/tracking",
                  type: "GET",
                })
                .done(function(data) {
                  if(last_riding_id !== data.last_riding_id) {
                    map.removeMarkers();
                    map.removePolylines();

                    map.addMarker({
                      lat: data.path[0][0],
                      lng: data.path[0][1],
                      title: 'destination'
                    });

                    map.drawPolyline({
                      path: path,
                      strokeColor: 'blue',
                      strokeOpacity: 0.6,
                      strokeWeight: 6
                    });

                  }
                });
              }, 1000 * 3);
            })();
          }
        }
      );

      setInterval(function() {
        $.ajax({
          url: "/ranking",
          type: "GET",
        }).done(function(data) {
            var i = 1;

            $('.ranking-info tbody').empty();

            $.each(data, function(arr, value) {
              $.each(value, function(value, v) {
                $('.ranking-info tbody').append('<tr><td>'+ i +'</td><td>'+ v +'</td></tr>');
                i++;
              });
            });
        });
       }, 1000);

      $(".logout").click(function(e){
        location.href='/logout';
      });
    });
</script>
{% endblock %}

